.jumbotron 
    h1 Google APIs
nav.navbar.navbar-expand-lg.navbar-light.navbar-custom
    .container
        a.navbar-brand(href='/') 
        button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarResponsive' aria-controls='navbarResponsive' aria-expanded='false' aria-label='Toggle navigation')
            span.navbar-toggler-icon
        #navbarResponsive.collapse.navbar-collapse
            ul.navbar-nav
                li.nav-item
                    a.nav-link(href='/') Maps
                li.nav-item
                    a.nav-link(href='/youtube') YouTube



            
